.shortBio { /* stylelint-ignore */
  height: 600px;
  width: 100%;
  border: thin #E6E6E6 solid;
  background-color: #EDEDED;
}

.shortBio .bioText {
  margin-top: 170px;
  border: thin #E6E6E6 solid;
  text-align: center;
}
